
/* # VARIABLES */

:root {
    /* colors */
    --primary-color: #0B9FA3;
    --secondary-color: #0D8485;
    --text-dark-color: #202020;
    --text-normal-color: #CCCCCC;
    --text-light-color: #EAEAEA;
    --text-grey-color: #B9B9BA;
    --text-inverted-color: #ffffff;
    --shadow-hue: #00000066;
    --button-background-color: #13D5C4;
    --button-background-transparent-color: #13D5C433;
    --button-background-hover-color: #0B9FA3;
    --link-active-color: #13D5C4;
    --link-hover-color: #13D5C4;
    --link-border-color: #13D5C4;
    --link-border-active-color: #13D5C4;
    --link-border-hover-color: #202020;
    --link-dot-color: #13D5C4;
    --link-dot-hover-color: #13D5C4;
    --form-input-border-color: #CCCCCC;
    --form-input-focus-hue: #0000001A;

    /* sizes */
    --link-border-size: 1px;
    --nav-border-size: 3px;
    --font-size-header1: 3rem; /* 48px */
    --font-size-header2: 2.5rem; /* 40px */
    --font-size-header3: 1.875rem; /* 30px */
    --font-size-header4: 1.5rem; /* 24px */
    --font-size-header5: 1.125rem; /* 18px */
    --font-size-header6: 1.125rem; /* 18px */
    --font-size-text: 1.125rem; /* 18px */
    --font-size-text-small: 0.875rem; /* 14px */
    --font-size-nav: 1.25rem; /* 20px */
    --font-size-button: 1rem; /* 16px */
    --form-input-border-size: 1px;

    /* breakpoints */
    --breakpoint-min-xs: 0;
    --breakpoint-min-sm: 576px;
    --breakpoint-min-md: 768px;
    --breakpoint-min-lg: 992px;
    --breakpoint-min-xl: 1200px;
    --breakpoint-max-xs: 0;
    --breakpoint-max-sm: 575px;
    --breakpoint-max-md: 767px;
    --breakpoint-max-lg: 991px;
    --breakpoint-max-xl: 1199px;

    /* radius */
    --default-border-radius: 1rem;
    --button-border-radius: 2rem;
    --form-input-border-radius: 0.3rem;

    /* spacing */
    --padding-xs: 0.3rem; /* 5px */
    --padding-sm: 0.9375rem; /* 15px */
    --padding-md: 1.875rem; /* 30px */
    --padding-lg: 3.125rem; /* 50px */
    --padding-xl: 4.375rem; /* 70px */

    --margin-xs: 0.3rem; /* 5px */
    --margin-sm: 0.9375rem; /* 15px */
    --margin-md: 1.875rem; /* 30px */
    --margin-lg: 3.125rem; /* 50px */
    --margin-xl: 4.375rem; /* 70px */

    /* navbar sizes */
    --odoo-navbar-height: 46px;
    --navbar-height: 100px;
}

/* # BASE */

html {
    font-size: 14px;
}

@media screen and (min-width: 576px){
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px){
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 992px){
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px){
    html {
        font-size: 16px;
    }
}

/* # FONT IMPORT */

@font-face {
    font-family: RubrikEdgeNewRegular;
    src:url(/theme_mint_system/static/otf/RubrikEdgeNewRegular.otf) format("opentype");
    font-display: swap;
}
@font-face {
    font-family: RubrikEdgeNewBold;
    font-weight: bold;
    src:url(/theme_mint_system/static/otf/RubrikEdgeNewBold.otf) format("opentype");
    font-display: swap;
}
@font-face {
    font-family: RubrikEdgeNewLight;
    font-weight: lighter;
    src:url(/theme_mint_system/static/otf/RubrikEdgeNewLight.otf) format("opentype");
    font-display: swap;
}

/* # BOOTSTRAP CLASSES */

.rounded {
    border-radius: var(--default-border-radius) !important;
}

img.shadow {
    box-shadow: 20px 20px 60px var(--shadow-hue) !important;
}

/* # TYPOGRAPHY */

body {
    font-family: RubrikEdgeNewRegular, sans-serif;
}

h1, .h1 {
    color: var(--primary-color);
    font-size: var(--font-size-header1);
    font-family: RubrikEdgeNewRegular, sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
}

h1 b {
    font-family: RubrikEdgeNewBold, sans-serif;
}

h1.s_title_thin {
    font-family: RubrikEdgeNewLight, sans-serif;
}

h2, .h2 {
    color: var(--primary-color);
    font-family: RubrikEdgeNewLight, sans-serif;
    font-size: var(--font-size-header2);
    line-height: 1.2;
    text-transform: uppercase;
}

h3, .h3 {
    color: var(--primary-color);
    font-family: RubrikEdgeNewLight, sans-serif;
    font-size: var(--font-size-header3);
    line-height: 1.2;
}

h4, .h4 {
    color: var(--text-dark-color);
    font-family: RubrikEdgeNewBold, sans-serif;
    font-size: var(--font-size-header4);
    line-height: 1.2;
}

h5, .h5 {
    color: var(--text-dark-color);
    font-family: RubrikEdgeNewBold, sans-serif;
    font-size: var(--font-size-header5);
    line-height: 1.2;
}

h6, .h6 {
    color: var(--text-dark-color);
    font-size: var(--font-size-header6);
    line-height: 1.2;
}

p {
    color: var(--text-dark-color);
    font-size: var(--font-size-text);
    line-height: 1.4;
}

p.lead {
    color: var(--primary-color);
    font-family: RubrikEdgeNewLight, sans-serif;
    font-size: var(--font-size-header4);
    letter-spacing: 0.72px;
    line-height: 1.6;
}

ol > li,
ul > li {
    color: var(--text-dark-color);
    font-size: var(--font-size-text);
    line-height: 1.2;
}

li > p {
    line-height: 0;
}

small {
    color: var(--text-grey-color);
    font-size: var(--font-size-text-small);
    line-height: 1.2;
}

address {
    font-size: var(--font-size-text-small);
}

/* # LINKS */

header a,
main a {
    font-size: var(--font-size-text);
    line-height: 24px;
    color: var(--text-dark-color);
}

header a:hover,
main a:hover,
footer a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

nav.breadcrumb a,
p > a {
    border-bottom: var(--link-border-color) solid var(--link-border-size);
}

nav.breadcrumb a:hover,
p > a:hover {
    border-bottom: var(--link-border-hover-color) solid var(--link-border-size);
}

/* # BUTTON */

.btn-primary,
.btn.rounded-circle {
    font-size: var(--font-size-button);
    line-height: 19px;
    text-transform: uppercase;
    background-color: var(--button-background-color);
    box-shadow: 20px 20px 60px var(--shadow-hue);
    font-family: RubrikEdgeNewBold, sans-serif;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    border: none;
}

.btn-primary:hover,
.btn.rounded-circle:hover {
    border-bottom: none;
    background-color: var(--button-background-hover-color);
}

a.btn-outline-primary {
    font-size: var(--font-size-text);
    color: var(--text-dark-color);
    border: none;
    transition: none;
    padding: 0px;
    padding-bottom: 8px;
}

a.btn-outline-primary:hover {
    color: var(--text-inverted-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: var(--button-border-radius);
    padding-right: 20px;
    margin-right: -20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

a.btn-outline-primary:active {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
}

a.btn-outline-primary::before {
    content: '';
    display: inline-block;
    border-radius: var(--button-border-radius);
    height: 40px;
    width: 40px;
    background-color: var(--button-background-transparent-color);
    margin-bottom: -15px;
    margin-right: -20px;
}

a.btn-outline-primary:hover::before {
    transition: all 0.15s ease-out;
}

/* # BLOG */

.website_blog .o_wblog_post_title #o_wblog_post_name {
    color: var(--primary-color);
    font-size: var(--font-size-header1);
    line-height: 1.2;
}

.website_blog .o_wblog_post_title #o_wblog_post_subtitle {
    color: var(--primary-color);
    font-size: var(--font-size-text);
    line-height: 1.2;
}

.website_blog .o_wblog_read_text .lead {
    font-size: var(--font-size-header4);
    line-height: 1.6;
}

.website_blog #o_wblog_posts_loop .o_wblog_normalize_font {
    color: var(--text-dark-color);
    font-size: var(--font-size-text-small);
    line-height: 1.2;
    padding-bottom: var(--padding-xs);
}

.website_blog nav.breadcrumb {
    white-space: nowrap;
}

.website_blog nav.breadcrumb a,
.website_blog nav.breadcrumb .active span {
    font-size: var(--font-size-text-small);
}

.website_blog nav.breadcrumb .active span {
    line-height: 2;
}

article.o_wblog_post .o_wblog_normalize_font a,
article.o_wblog_post .o_wblog_normalize_font time {
    color: var(--text-grey-color);
    font-size: var(--font-size-text-small);
    line-height: 1.2;
    font-weight: normal !important;
}

article.o_wblog_post .o_blog_post_title {
    font-size: var(--font-size-header5);
    line-height: 1.2;
}

.website_blog .o_wblog_post_page_cover.o_record_has_cover.cover_auto {
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-md);
}
@media (min-width: 768px) {
    .website_blog .o_wblog_post_page_cover.o_record_has_cover.cover_auto {
        padding: var(--padding-md);
    }
}

div#o_wblog_next_container #o_wblog_post_name,
div#o_wblog_next_container #o_wblog_post_subtitle,
section#o_wblog_post_top #o_wblog_post_subtitle,
section#o_wblog_post_top #o_wblog_post_name {
    color: var(--text-inverted-color)
}

div#o_wblog_next_container .o_wblog_next_fake_btn {
    height: 0rem;
}

div#o_wblog_next_container .container {
    padding-top: var(--padding-md);
}

div#o_wblog_blog_top .bg-primary,
div#o_wblog_blog_top .bg-secondary {
    background-color: #fff !important;
    opacity: 1 !important;
}

/* # FEATURE */

section.s_features img {
    margin-bottom: var(--padding-md);
    height: 150px;
}

@media (min-width: 768px) {
    section.s_features img {
        margin-bottom: var(--padding-lg);
        height: 180px;
    }
}

@media (min-width: 992px) {
    section.s_features img {
        margin-bottom: var(--padding-lg);
        height: 210px;
    }
}

section.s_features a {
    border-bottom: none;
}

/* # TEAM */

section.s_team .col-lg-4 {
    margin-bottom: var(--padding-md);
}

@media (min-width: 992px) {
    section.s_team img {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    section.s_team .col-lg-4 {
        border-bottom: none;
    }
}

/* # FEATURES GRID */

@media (min-width: 992px) {
    section.s_features_grid div[data-name="Box"] {
        min-height: 150px;
    }
}

/* LATEST POST LIST */

section.s_latest_posts h1 {
    font-family: RubrikEdgeNewLight, sans-serif;
}

section.s_latest_posts .s_latest_posts_post_title {
    font-family: RubrikEdgeNewBold, sans-serif;
    color: var(--text-dark-color);
    font-size: var(--font-size-text);
    line-height: 1.6;
}

section.s_latest_posts .s_latest_posts_post_subtitle {
    font-family: RubrikEdgeNewLight, sans-serif;
    color: var(--text-dark-color);
    font-size: var(--font-size-text);
    line-height: 1.6;
}

/* # COVER */

section.s_cover p {
    color: var(--text-light-color);
}

section.s_cover h1 {
    color: var(--text-inverted-color);
    line-height: 1.2;
    text-transform: none;
}

.parallax > .s_parallax_bg::after {
    background-image: url("/theme_mint_system/static/img/cover-overlay.svg");
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
}

/* # TEXT FORM */

section.s_text_form h1,
section.s_text_form h2,
section.s_text_form h3,
section.s_text_form h4,
section.s_text_form p,
section.s_text_form a {
    color: var(--text-inverted-color);
}

section.s_text_form a:hover {
    color: var(--link-hover-color);
    border-bottom: var(--text-inverted-color) solid var(--link-border-size);
}

section.s_text_form p:first-child {
    color: var(--text-light-color);
    text-transform: uppercase;
}

section.s_text_form h1 {
    text-transform: none;
}

section.s_text_form form.s_website_form {
    background: #fff;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    padding-top: var(--padding-lg);
    border-radius: var(--default-border-radius);
    box-shadow: 20px 20px 60px var(--shadow-hue);
}

/* # FORM */

form.s_website_form {
    padding-bottom: var(--padding-md);
}

form.s_website_form label.col-form-label {
    font-size: var(--font-size-text-small);
    white-space: nowrap;
}

form.s_website_form textarea.form-control,
form.s_website_form input.form-control {
    font-size: var(--font-size-text-small);
    padding: var(--padding-md);
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    border-radius: var(--form-input-border-radius);
}

form.s_website_form textarea.form-control:focus,
form.s_website_form input.form-control:focus {
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    box-shadow: 0px 10px 20px var(--form-input-focus-hue);
}

form.s_website_form input.form-control {
    height: 75px;
}

form.s_website_form textarea.form-control {
    height: 200px;
}

form.s_website_form button.o_website_form_send {
    border-radius: var(--button-border-radius);
    text-transform: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    section.s_text_form form.s_website_form {
        padding-right: var(--padding-xl);
    }
}

@media (min-width: 768px) {

    form.s_website_form label.col-form-label {
        margin-top: var(--padding-sm);
    }

    form.s_website_form div.form-group {
        text-align: right;
    }

    form.s_website_form div.form-group:last-child {
        text-align: left;
    }
}

@media (max-width: 767px) {
    section.s_text_form div.form-group:last-child {
        text-align: center;
    }
}

/* # TEXT IMAGE */

section.s_text_image h1, 
section.s_image_text h1 {
    text-transform: none;
    font-family: RubrikEdgeNewLight, sans-serif;
}

@media (min-width: 992px) {
    section.s_text_image div.row > div {
        padding-right: var(--padding-lg);
    }
}

/* # NAVBAR */

header .navbar-light .navbar-toggler-icon {
    background-image: url("/theme_mint_system/static/img/menu.svg");
}

.scrolled header .navbar-light .navbar-toggler-icon {
    background-image: url("/theme_mint_system/static/img/menu-inverted.svg");
}

header .navbar-light .navbar-toggler {
    border: none;
    font-size: 1.5rem;
}

header .navbar-light {
    background-color: var(--secondary-color) !important;
    transition: background-color 0.5s ease-in-out;
}

header .navbar-light .navbar-nav .nav-link span {
    color: var(--text-light-color);
    font-size: var(--font-size-nav);
    line-height: 1.2;
}

.scrolled header .navbar-light .navbar-nav .nav-link span {
    color: var(--secondary-color);
    transition: color 0.5s ease-in-out;
}

header .navbar-light .navbar-nav .nav-link.active span {
    color: var(--link-active-color);
    border-bottom: var(--link-border-active-color) solid var(--nav-border-size);
    padding-bottom: 0.2rem;
}

header .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

header .navbar-light .navbar-nav .nav-link span:hover {
    color: var(--link-hover-color);
}

/* # HEADER */

#wrapwrap.o_header_overlay > header:not(.o_header_affix),
header#my_header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

#oe_main_menu_navbar + #wrapwrap.o_header_overlay header {
    top: var(--odoo-navbar-height);
}

#wrapwrap:not(.o_header_overlay) main {
    padding-top: var(--navbar-height);
}

html.scrolled header nav {
    transition: box-shadow 0.5s ease-in-out;
}

html.scrolled .navbar-light,
html.scrolled header {
    background-color: hsla(0,0%,100%,.8) !important;
    transition: background-color 0.5s ease-in-out;
}

@media (min-width: 768px) {
    #wrapwrap:not(.o_header_overlay) main {
        padding-top: var(--navbar-height);
    }

    .scrolled header#my_header div.navbar-collapse {
        padding-top: 0rem;
        transition: padding-top 0.7s ease-in-out;
    }
}

/* # LOGO */

#wrapwrap header img {
    position: absolute;
}

/* Switch between logo variants */

#wrapwrap.o_header_overlay header img.default,
#wrapwrap.o_header_overlay header img.inverted {
    opacity: 0;
}

#wrapwrap:not(.o_header_overlay) header img.default,
#wrapwrap:not(.o_header_overlay) header img.overlay {
    opacity: 0;
}

.scrolled #wrapwrap header img.inverted,
.scrolled #wrapwrap header img.overlay {
    opacity: 0;
}
.scrolled #wrapwrap header img.default {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#wrapwrap header .logo {
    height: 4.375rem;
    margin-top: var(--margin-xs);
    margin-bottom: var(--margin-xs);
}

.scrolled #wrapwrap header .logo,
.scrolled #wrapwrap header img.default {
    height: 3.5rem;
    transition: height 0.7s ease-in-out;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

@media (max-width: 767px) {

    #wrapwrap header img,
    #wrapwrap header .logo {
        height: 3.5rem;
    }
}

/* # FOOTER */

#footer h5 {
    color: var(--primary-color);
}

footer span,
footer p {
    font-size: var(--font-size-text-small);
}

footer ul li {
    color: var(--text-dark-color);
    font-size: var(--font-size-text-small);
    line-height: 1.2;
}

@media (min-width: 991px) {
    div#footer section.s_text_block .container {
        max-width: var(--breakpoint-lg);
    }
}

footer img.logo {
    max-height: 3.5rem;
    margin-top: var(--margin-xl);
    margin-bottom: var(--margin-xl);
}

@media (min-width: 768px) {
    footer img.logo {
        max-height: 4.375rem;
    }
}

/* # SECTION INVERTED */

section.style-inverted h1,
section.style-inverted h2,
section.style-inverted h3,
section.style-inverted .btn,
section.style-inverted p {
    color: var(--text-inverted-color);
}
