
/* Font import */

@font-face {
    font-family: "RubrikEdgeNewRegular";
    src:url(/theme_mint_system/static/otf/RubrikEdgeNewRegular.otf) format("opentype");
}
@font-face {
    font-family: "RubrikEdgeNewBold";
    font-weight: bold;
    src:url(/theme_mint_system/static/otf/RubrikEdgeNewBold.otf) format("opentype");
}
@font-face {
    font-family: "RubrikEdgeNewLight";
    font-weight: lighter;
    src:url(/theme_mint_system/static/otf/RubrikEdgeNewLight.otf) format("opentype");
}

/* Override typography */

.rounded {
    border-radius: 1rem !important;
}

/* Override global */

h1 {
    color: #0A9FA2;
    font-family: RubrikEdgeNewRegular;
    font-size: 58px;
    line-height: 62px;
    text-transform: uppercase;
}

h1 b {
    font-family: RubrikEdgeNewBold;
}

h1.s_title_thin {
    font-family: RubrikEdgeNewLight;
}

h2 {
    color: #0A9FA2;
    font-family: RubrikEdgeNewLight;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
}

h3 {
    color: #0A9FA2;
    font-family: RubrikEdgeNewLight;
    font-size: 30px;
    line-height: 37px;
}

p {
    font-size: 18px;
    font-family: RubrikEdgeNewRegular;
    line-height: 28px;
    color: #202020;
}

a {
    font-size: 18px;
    font-family: RubrikEdgeNewRegular;
    line-height: 28px;
    color: #202020;
}

a:hover {
    text-decoration: none;
}

/* Override feature */

section.s_features img {
    padding-bottom: 20px;
}

section.s_features a {
    border-bottom: #13D5C4 solid 2px;
}

/* Override cover */

section.s_cover p {
    font-size: 18px;
    color: #EAEAEA;
    text-transform: uppercase;
    font-family: RubrikEdgeNewRegular;
}

section.s_cover h1 {
    color: #FFFFFF;
    line-height: 57px;
    text-transform: none;
}

/* Override text image */

section.s_text_image h1 {
    text-transform: none;
    font-family: RubrikEdgeNewLight;
}

@media (min-width: 992px) {
    section.s_text_image div.row > div {
        padding-right: 30px;
    }
}

/* Override navbar */

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: #EAEAEA;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #13D5C4;
    border-bottom-color: #13D5C4;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .nav-item > .nav-link {
    color: #EAEAEA;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affix) > .navbar .nav-item > .nav-link.active {
    color: #13D5C4;
    border-bottom-color: #13D5C4;
}

header#my_header div.navbar-collapse {
    padding-top: 50px;
}

.o_header_affix {
    background: none;
}

/* Override footer */

#footer h5 {
    color: #0D8485;
}

/* body {
    background-image: url("/theme_mint_system/static/img/background.jpg");
    background-repeat: repeat;
} */

/* Test */

.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
}

.services li {
    display: block;
    position: relative;
    background-color: #16a085;
    color: #FFF;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5em;
}